@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

/*-- Main Construction Specifications --*/
        body {
        background-color: #fffbf0;
        color: #080824;
        font-family: Raleway, sans-serif;
        font-weight:200;
        }
        header{
            background-image: url("../images/header-background.png");
            color: #f5f1e4;
            height:100px;
            width:100%;
            margin-bottom:10px;
            border-bottom: 10px solid #f9bd80;
        }
        footer{
            background-image: url("../images/header-background.png");
            color: #f5f1e4;
            height:75px;
            border-top: 5px solid #f9bd80;
        }
/*-- Header Specifications --*/
        .header{
            height:140px;

        }
        .logo {
            height:75px;

        }
/*-- Footer Specifications --*/
        footer{
            padding:20px;
            font-size:12px;
        }
        footer a{
            text-decoration: none;
            color:#fff8e7;
        }
        footer a:hover{
            color: #f9bd80;
        }

/*-- General Styling Specifications --*/
    /*-- Layout/Spacing Rules --*/
        .inline-block{
            display:inline-block;
        }
        .block{
            display: block;
        }
        .hidden{
            opacity: 0;
            display: block;
        }
        #orientation-label{
            opacity: 0;
        }
        .inactive{
            display: none;
        }
        .flt-left{
            float:left;
        }
        .flt-right{
            float:right;
        }
        .mrgn-top-50{
            margin-top:50px;
        }
        .mrgn-bot-50{
            margin-bottom: 50px;
        }
        .mrgn-bot-0{
            margin-bottom: 0px;
        }
        .mrgn-top-10{
            margin-top:10px;
        }
        .mrgn-bot-10{
            margin-bottom:10px;
        }
        .mrgn-top-20{
            margin-top:20px;
        }
        .mrgn-bot-20{
            margin-bottom: 20px;
        }
        .mrgn-right-10{
            margin-right: 10px;
        }
        .mrgn-right-50{
            margin-right: 20px;
        }
    /*-- Font Rules --*/
        .font-10{
            font-size: 8px;
        }
        .font-12{
            font-size:12px;
        }
        .font-14{
            font-size:14px;
        }
        .font-20{
            font-size:20px;
        }
        .bold{
            font-weight:bold;
        }
        .uppercase{
            text-transform: uppercase;
        }
    /*-- Desgin Rules --*/
        input{
            padding:6px;
            width:200px;
            background-color: transparent;
            color:#080824;
            border: 1px solid #080824;
            border-radius: 2px;
            font-weight:200;
            margin:10px;
        }
/*-- Main Content Specifications --*/
    /*-- Button Row Specifications --*/
        #button-row{
            height:60px;
            line-height:25px;
        }
        #button-row [id$="btn"]{
            width:24%;
        }
        #button-row i{
            margin: 14px auto 7px auto;
        }
        .label-container{
            height:25px;
        }
        #button-row p{

            margin: 0px;
            text-decoration: underline;
            letter-spacing: 1.5px;
        }
    /*-- Left Column --*/
    /*-- Arsenal Dimensions --*/
        #arsenal{
            width:202px;
        }
        #arsenal td{
            padding:2px 3px;
        }
        #arsenal tr td:first-child{
            width:125px;
        }
        #arsenal tr td:last-child{
            width:75px;
        }
        #arsenal tr:not(:first-child):hover{
            background-color: rgba(250,201,152, 0.3);
            font-weight:300;
        }
        #arsenal tr:first-child{
            background-color: rgba(8,8,36, 0.1)
        }
        #orientation-btn{
            width:140px;
        }
    /*-- Game Screen Dimensions --*/
        .table-container div{
            display:inline-block;
            margin: auto 50px;
        }
        
        [id$="game-board"]{
            display: inline-block;
            height:525px;
            width:525px;
        }
        [id$="game-board"] p{
            margin:10px auto;
        }
    /*-- Battlefield Table Dimesions --*/
        tr, td{
            border:1px solid #080824;
            border-collapse: collapse;
        }
        .game-square{
            width:50px;
            height:50px;
            background-color: #fff8e7;
        }
        [class^="y-axis"]{
            width:25px;
            background-color: rgba(8,8,36,0.8);
            color: #fff8e7;
            border:1px solid #fff8e7;
            border-left:1px solid #080824;
            border-right:1px solid #080824;
        }
        .y-axis-10{
            border-bottom:1px solid #080824
        }
        .row-x-axis{
            text-align: center;
            line-height:15px;
            height:25px;
            background-color: rgba(8,8,36,0.8);
            color: #fff8e7;
        }
        .row-x-axis td{
            border:1px solid #fff8e7;
            border-top:1px solid #080824;
            border-bottom:1px solid #080824;
        }
        .row-x-axis td:last-child{
            border-right:1px solid #080824;
        }
        .row-x-axis td:first-child{
            border-left:1px solid #080824;
            border-bottom:1px solid #fff8e7;
        }
        .board-label{
            opacity: 0;
        }
    /*-- Game Square Specifications --*/
    /*-- These rules dictate the colour or status of a game square --*/
        #user-game-board .occupied{
            background-color:rgba(8,8,36, 0.9);
        }
        .occupied{
            background-color:rgba(255,248,231);
        }
        .show-coordinates{
            background-color:rgba(8,8,36, 0.4);
        }
        #user-game-board .occupied.show-coordinates{
            background-color:rgba(8,8,36, 0.4);
        }
        .hit{
            background-color: #555;
        }
        .sunk{
            background-color: #111;
        }
        .miss{
            background-color:#999;
        }        
/*-- Modal Speicifcations --*/
    /*--Modal Contaier --*/
        #modal-container{
            position:fixed;
            display:none;
            left:0;
            top:0;
            width:100%;
            height:100%;
            z-index:1;
        }
        #modal-container .row{
            height:100%;
        }
    /*--Credit belongs to https://www.w3schools.com/howto/howto_css_modals.asp for the creation of this modal. --*/
    /* The Modal (background) */
        .modal-styling {
            background-color: #080824;
            position: absolute;
            z-index: 1;
            top:-630px;

            animation-duration: 1.5s;
            animation-direction: alternate;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }
        .modal-content-styling {
            background-color: #f9bd80;
            border: 2px solid #fff8e7;
            margin:5px;
        }
        .modal-body-styling {
            margin:5px;
            background-image: url("../images/welcomemodalbackground.png");
            background-position: center;
            background-repeat: no-repeat;
            padding: 20px;
            height:476px;
            width:476px;
            overflow: auto;
        }
        .modal-header,.modal-footer {
            height:60px;
            margin:5px;
            background-image: url("../images/header-background.png");
            background-position: center;
            background-repeat: repeat;
            background-size: contain;
            color: #fff8e7;
            text-align: center;
            font-weight:100;
            font-size:24px;
            line-height:30px;
        }
        /*-- Scores Table Specifications --*/
            #scores-table{
                margin:18px;
                width:400px;
                height:400px;
                padding:0px;
            }
            #scores-table td{
                line-height: 12px;
            }
            #scores-reset-btn{
                animation-duration: 1.5s;
                animation-direction: normal;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }
            #scores-reset-label{
                opacity: 0;
                margin-right:10px;
                font-size:16px;
            }
    /*-- End Game Modal --*/
        .endgame-modal-styling {
            background-color: #080824;
            position: absolute;
            z-index: 1;
            top:-630px;
            width:500px;
            height:365px;
            animation-duration: 1.5s;
            animation-direction: alternate;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }
        .endgame-modal-content-styling {
            background-color: #f9bd80;
            border: 2px solid #fff8e7;
            margin:5px;
        }
        .endgame-modal-body-styling {
            margin:5px;
            background-image: url("../images/welcomemodalbackground.png");
            background-position: center;
            background-repeat: repeat-x;
            background-size: contain;
            padding: 20px;
            height:276px;
            width:476px;
        }
        .endgame-modal-header{
            height:60px;
            margin:5px;
            padding: 20px;
            background-image: url("../images/header-background.png");
            background-position: center;
            background-repeat: repeat;
            background-size: contain;
            color: #fff8e7;
            text-align: center;
            font-weight:100;
            font-size:24px;
            line-height:30px;
        }
        #endgame-panel-2 *{
            display: inline-block;
        }
        #endgame-panel-2 p{
            width:200px;
        }
        #pressEnter{
            opacity: 0;
        }
        #submit{
            display:none;
        }

    /*-- Welcome Page Modal --*/
        .welcome-modal-styling{
            background-color: #080824;
            position: fixed;
            align-self: center;
            z-index: 2;
            top:200px;
        }
        .welcome-content-styling{
            margin:5px;
            background-color: #f9bd80;
            border: 2px solid #fff8e7;
        }
        .welcome-body-styling{
            margin:5px;
        }
        .welcome-body-styling img{
            width:400px;
            height:400px;
        }
    /*-- Sidebar Modals --*/
        .banner-modal-styling{
            background-color: #080824;
            position: absolute;
            z-index: 1;
            right: -450px;
            animation-duration: 1.5s;
            animation-direction: alternate;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }
        .banner-content-styling{
            margin:5px 0 5px 5px;
            background-color: #f9bd80;
            border-bottom: 2px solid #fff8e7;
            border-left: 2px solid #fff8e7;
            border-top: 2px solid #fff8e7;
        }
        .banner-body-styling{
            margin:5px 0px 5px 5px;
            background-color:#fff8e7;
            padding: 20px 30px;
        }
        #banner-modal{
            top: 110px;
        }
        #arsenal-modal{
            top: 372px;
        }
        #orientation-modal{
            top: 679px;
        }
    
    /*-- Modal Animations --*/
        @keyframes animatetop {
            from {display:none; top: -630px}
            to {display:block; top: 120px; }
        }
        @keyframes animatebottom {
            from {top: 120px; display:block}
            to {top: -630px; display:none}
        }
        @keyframes animateleft {
            0%   {display:none; right:-450px; opacity: 0}
            100% {display:block; right:0px; opacity: 1}
        }
        @keyframes animateright {
            0%   {display:block; right:0px; opacity: 1}
            100% {display:none; right:-450px; opacity: 0}
        }
        /*-- Credit belongs to https://codepen.io/vitoralberto/pen/OPYyYB for this rotation animation --*/
        @keyframes rotation {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(359deg);
            }
        }
/*-- Media Queries --*/
@media (min-width:2000px){
    .welcome-modal-styling{
        margin-left:209px;
    }
    .modal-styling{
        margin-left:126px;
    }
}
@media (max-width:1500px){
    .welcome-modal-styling{
        margin-left:58px;
    }
    [id$="game-board"]{
        width:375px;
        height:375px;
    }
    [id$="game-board"] td{
        width: 34px;
        height:34px;
    }
}
@media (max-width:1150px){
    
    .welcome-body-styling img{
        width:300px;
        height:300px;
    }
    .modal-styling{
        margin-left:0px;
    }
    .modal-body-styling {
        width:300px;
        height:376px;
        
    }
    .header{
        height:70px;
        }
    .logo{
        margin-top:5px;
    }
    .table-container div{
        display: inline-block;
        margin: auto 10px;
    }
    [id$="game-board"]{
        width:375px;
        height:375px;
    }
    [id$="game-board"] td{
        width: 34px;
        height:34px;
    }
    .font-12{
        font-size:10px;
    }
    .font-14{
        font-size:12px;
    }
}
@media (max-width:800px){
    #banner-modal{
        top: 850px;
    }
    #arsenal-modal{
        top: 631px;
    }
    #orientation-modal{
        top: 535px;
    }
    .modal-styling{
        margin-left:12px;
    }
    .modal-body-styling {
        width:400px;
        
    }
    .welcome-modal-styling{
        margin-left:29px;
    }
    .welcome-body-styling img{
        width:400px;
        height:400px;
    }

}
@media (max-width:600px){
    .welcome-modal-styling{
        width:300px;
        height:300px;
        margin-left:47px;
    }
    .welcome-body-styling{
        width:276px;
        height:276px;
    }
    .welcome-body-styling img{
        width:276px;
        height:276px;
    }
    .modal-styling{
        margin-left:47px;
    }
    .header{
        height:50px;
        }
    .font-12{
        font-size:8px;
    }
    .font-14{
        font-size:10px;
    }
    [id$="game-board"]{
        width:300px;
        height:300px;
    }
    [id$="game-board"] td{
        width: 26px;
        height:26px;
    }
    .banner-body-styling{
        padding: 10px 10px 10px 15px;
    }
    .modal-styling {
        width:300px;
    }
    .modal-body-styling {
        background-size: cover;
        width:276px;
    }
    #scores-table{
                margin:18px;
                width:200px;
                height:400px;
                padding:0px;
            }
    
    
}
@media (max-width:400px){
    .modal-styling{
        margin-left:0px;
    }
    .welcome-modal-styling{
        width: 274px;
        height: 274px;
        margin-left:0px;
    }
    .welcome-body-styling{
        width:250px;
        height:250px;
    }
    .welcome-body-styling img{
        width:250px;
        height:250px;
    }
}
