/*-- Main Construction Dimensions --*/
header{
    height:125px;
}
footer{
    height:75px;
}
#game-screen{
    width:80%;
    min-height:600px;
}
/*-- General Styling Rules --*/
.brdr-full{
    border:1px solid #000;
}
.brdr-top{
    border-top: 1px solid #000;
}
.brdr-btm{
    border-bottom: 1px solid #000;
}
.inline-block{
    display:inline-block;
}
.block{
    display: block;
}
/*-- Game Screen Dimensions --*/
#button-row{
    height:50px;
    line-height:25px;
}
#game-module{
    width:1550px;
    height:620px;
    margin:auto;
}
[id$="game-board"]{
    height:525px;
    width:525px;
}
/*-- Arsenal Dimensions --*/
#arsenal{
    width:200px;
}
#arsenal tr td:first-child{
    width:125px;
}
#arsenal tr td:last-child{
    width:75px;
}
/*-- Battlefield Table Dimesions --*/
table, td{
    border:1px solid #000;
    border-collapse: collapse;
}
.game-square{
    height:50px;
    width:50px;
    background-color: #ccc;
}
[class^="y-axis"]{
    width:25px;
}
.row-x-axis{
    text-align: center;
    line-height:13px;
    height:25px;
}
.occupied{
    background-color:#ff453a;
}